<header class="site-header">

  <div class="wrapper-sticky">

    <a class="site-title icon-logo" href="{{ site.baseurl }}/" style="color: white;"></a>

    <nav class="site-nav">
      {% include menu_icon.html %}

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <aside class="site-social">
      <h1>NOTICIAS</h1>
      <p>
        {% for social in site.data.social %}
        <a href="{{social.url}}" class="icon-{{social.icon}}"></a>
        {% endfor %}
      </p>
    </aside>

  </div>

</header>
