/**
 * Site header
 */
.site-header {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    background-color: $nav-bgcolor;
    font-family: 'Ropa Sans', sans-serif;
    color: $nav-color;
}
.wrapper-sticky {
    display: flex;
    flex-flow: row nowrap;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    }
}
.site-title {
    font-size: 3.5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    &,
    &:visited {
        color: $grey-color-dark;
    }
    &:hover {
        text-decoration: none;
    }
}
.site-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 1em;
    width: 60%;
    color: $nav-color;
    .menu-icon {
        display: none;
    }
    .page-link {
        line-height: $base-line-height;
        font-size: 1.25em;
        margin-left: 1em;
        color: $nav-color;
    }    
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    background-color: $nav-bgcolor;
    font-family: 'Ropa Sans', sans-serif;
    color: $nav-color;
}
.footer {
    justify-content: space-between;
    align-items: center;
    > a:first-child {
        flex: 1;
        color: $nav-color;
        text-decoration: none;
    }
}

/**
 * Site social
 */
.site-social {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: $social-bgcolor;
    padding-right: 1em;
    padding-left: 1em;
    height: 5em;
    margin-bottom: 0px;
    box-shadow: -1px 3px 6px 5px rgba(0, 0, 0, 0.75);
    > h1 {
        margin-bottom: 0.25em;
        margin-top: 0.25em;
        font-size: 1.25em;
        width: 100%;
        text-align: center;
    }
    > p {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        > a {
            font-size: 1.5em;
            color: $nav-color;
            margin-right: 0.5em;
            &:hover {
                color: black;
            }
        }
        > a:last-child {
            margin-right: 0;        
        }
    }
}

/**
 * Page content
 */
.page-content {
    flex: 1;
}
.page-heading {
    font-size: 20px;
}
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post {
    padding: 2em;
}
.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
